log/development.log
/log/development.log
!/log/.keep
tmp/cache/assets/development/sprockets/*
/tmp/cache/assets/development/sprockets/*
/tmp/cache/assets/development/sass/*
tmp/cache/assets/development/sass/*
/config/database.yml
config/database.yml
/public/system
/.idea
/solr/development/*
/solr/pids/development/*
/solr/default/*
/app/views/templates/*
/.keep
Gemfile
Gemfile.lock
