log/*.log
!/log/.keep
tmp
config/database.yml
config/unicorn.rb
/public/system
shared
/.idea
/solr/development/*
/solr/pids/development/*
/solr/default/*
/app/views/templates/*
/.keep
Gemfile
Gemfile.lock
