<div class="modal-header">
  <h4 class="modal-title">Franchise Agreement</h4>
  <small class="font-bold">
    Enter the city's franchise terms and conditions. The contractor will be required to agree to the franchise terms
    and conditions and self haul guidelines before they can submit there plan to the city
  </small>
</div>

<div class="modal-body">
  <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Activate franchise agreement
  <p style="margin-top: 10px;">
    <h5>Franchise Agreement</h5>
    <textarea rows="3" class="form-control">
      Waste Management of San Francisco (WMSF) is the only provider permitted to deliver and haul MIXED DEBRIS roll-off bins in the City of San Francisco.
            Exclusions:
            -As an incidental part of a total construction, remodeling or demolition service offered by a contractor a roll-off bin may be delivered and removed by a contractor other than WMSF.
            -Source-separated recyclables which are recycled at a recycling facility that holds all applicable permits, provided that loads contain no more that 5% non-recyclable materials by weight.
    </textarea>
  </p>
  <p>
    <h5>Self Haul Guidelines</h5>
    <textarea rows="3" class="form-control">
      A licensed contractor may haul materials or use a different provider, if: - Removed from the premises by a licensed contractor as an incidental part of a total construction, remodeling or demolition service offered by that contractor, rather than as a separately contracted or subcontracted hauling service using debris boxes or similar apparatus. - Directly loaded onto a fixed-body vehicle and hauled directly to a Disposal Facility that holds all applicable permits.
    </textarea>
  </p>

  <h5>Franchise Materials</h5>
  <p>Identify any and all Materials exclusive to the Franchise Provider </p>

  <div class="form-group">
      <div class="row" style="margin-left: 12px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Mixed C & D
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Appliances & Equipment
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Asphalt
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Bottles & Cans
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Bricks, Masonry & Stone Products
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Carpet & Padding/Foam
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Ceiling Tiles
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Compostable Food Waste
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Dirt/Soil-Hazardous
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Concrete
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Deconstructed & Salvage Items
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Dirt/Soil-Clean Fill
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Dunnage
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Drums, Barrels & Buckets
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Drywall - Clean/Unpainted
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Drywall - Demo & painted
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Hazardous Waste & Materials
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> eWaste
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Glass Plate or Tempered
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">Green Waste - Yard/Landscape
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Metal
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> High-Density Polyethylene (HDPE)
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Liquid Recyclables
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Low-Density Polyethylene (LDPE)
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Porcelain
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">  Mixed Recyclables
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Molded Fiberboard
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Plastics
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">  Textiles
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">  PS Food Trays
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">  Rock, Sand, Gravel & other inerts
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Roofing Asphalt
        </div>
      </div>
      <div class="row" style="margin-left: 12px;margin-top: 10px;">
        <div class="col-md-3">
            <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">  Wood - Clean
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">   Trash
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Trash Sorted for Recovery
        </div>
        <div class="col-md-3">
          <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;"> Trash to Energy
        </div>
      </div>
    <div class="row" style="margin-left: 12px;margin-top: 10px;">
      <div class="col-md-3">
        <input type="checkbox" style="float: left;margin-right: 4px;margin-top: 3px;">  Wood - Treated/Painted
      </div>
    </div>
  </div>
  <div style="width: 53%;float: right;margin-top: 10px;">
    <button class="btn btn-primary" type="button">Save</button>
  </div>

  <div style="clear: both;margin-bottom: 33px;width: 50%;">
    <h5 style="padding-top: 45px;">Service Provider Contact</h5>
        <p>Service Provider #1</p>
        <form class="form-horizontal" method="get">
          <div class="form-group">
            <label class="col-sm-2 control-label">Company Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Street</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">State</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Zipcode</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>
         </form>
    <div style="float: right;width:70%;">
      <button type="button" class="btn btn-primary">Delete Provide #1</button>
      <button type="button" class="btn btn-primary">Add Another Service Provider</button>
    </div>
  </div>
</div>