<div class="modal-body" style="font-size: 12px;">

  <div class="container">
    <!-- New Design Block Design -->
    <div class="row" style="background-color:#fff;margin-top:10px;border-radius: 10px;position: relative;">
      <div class="col-lg-12"><h3>System Configuration</h3></div>
      <!-- Tab Links -->
      <ul id="settings_list" class="nav nav-tabs main-content" style="margin:16px;">
        <li class="">
          <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/overview')">Overview</a>
        </li>
        <li class="active">
          <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings')">Configuration</a>
        </li>
        <li class="">
          <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/bin_types')">Bin Types</a>
        </li>
        <li class="">
          <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/bin_locations')">Bin Locations</a>
        </li>
        <li class="">
          <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/gallery')">Gallery</a>
        </li>
        <li class="">
          <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/contact')">Contact</a>
        </li>
      </ul>
      <!-- Tab Links ends -->

    </div>
  </div>




  <form method="post" accept-charset="UTF-8" action="/bangalore/government/business_settings/52" id="edit_wgu_52" class="edit_wgu"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="put" name="_method"><input type="hidden" value="g9DXYHwJ7I243s+UIg3/z0OkFH4MKlSsKOD0FWiqBk3Pt64r7v+SDtmSGAgo8JrASS9PR3EfcClvNuJqzTCXZA==" name="authenticity_token">
    <div class="row" style="margin-top:10px;">
      <div class="col-lg-6" style="padding-left:38px;">
        <div class="form-group">
          <label>WGU Name</label>
            <input type="text" class="form-control" id="wgu_name" name="wgu[name]" value="Wgu2" placeholder="Wgu Name">
        </div>

        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" id="wgu_address" name="wgu[address]"placeholder="Address">
        </div>

        <div class="form-group">
          <label>Unit or Apt#</label>
          <input type="text" class="form-control" placeholder="Suite 221">
        </div>

        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" id="wgu_city" name="wgu[city]"placeholder="City">
        </div>

        <div class="form-group">
          <label>State or Provence</label>
          <input type="text" class="form-control" id="wgu_state" name="wgu[state]"placeholder="State">
        </div>

        <div class="form-group">
          <label>Zip or Postal Code</label>
          <input type="text" class="form-control" id="wgu_zip" name="wgu[zip]"placeholder="Zip">
        </div>


      </div>
    </div>

  </form>


  </div>
