<div class="row modal-header" style="margin:0">
  <div class="col-lg-3" align="left">
    <%= link_to 'javascript:void(0)', :style=>"color:#676a6c;", :class => "popover-history2", :rel => "popover", :"data-placement" => "bottom", :"data-content" => "#{level_settings_content}" do %>
      <i class="fa fa-th fa-3x" id="settings_menulist"></i>
    <% end %>
  </div>
  <div class="col-lg-6">
    <div class="">
      <h4 class="modal-title"><i class="fa fa-area-chart" style="font-size:40px;"></i> System Config</h4>
      <small class="font-bold">Create a custom checklist that will require this WGU and all Sub Level WGUs to check off before closing out this WGU.</small>
    </div>
  </div>
  <div class="col-lg-3" align="right">
    <button type="button" class="btn btn-success btn-xs" style="background-color: #1ab394;border-color: #1ab394;">Export</button>
    <button type="button" class="btn btn-success btn-xs" style="background-color: #1ab394;border-color: #1ab394;">Print</button>
    <button type="button" class="btn btn-success btn-xs" style="background-color: #1ab394;border-color: #1ab394;">PDF</button>
  </div>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
  <div class="row" style="text-align: center;">
    This page is under development
  </div>
</div>



<script>
  $(function () {
    $('.popover-history2').popover({ html : true });
  });
</script>