<div class="container">
  <!-- New Design Block Design -->
  <div class="row" style="background-color:#fff;margin-top:10px;border-radius: 10px;position: relative;">
    <div class="col-lg-12"><h3>System Configuration</h3></div>
    <!-- Tab Links -->
    <ul id="settings_list" class="nav nav-tabs main-content" style="margin:16px;">
      <li class="">
        <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/overview')">Overview</a>
      </li>
      <li class="active">
        <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings')">Configuration</a>
      </li>
      <li class="">
        <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/bin_types')">Bin Types</a>
      </li>
      <li class="">
        <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/bin_locations')">Bin Locations</a>
      </li>
      <li class="">
        <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/gallery')">Gallery</a>
      </li>
      <li class="">
        <a href="#" style="color: #337ab7 !important;" onclick="system_config_tab('/bangalore/government/business_level_settings/contact')">Contact</a>
      </li>
    </ul>
    <!-- Tab Links ends -->

  </div>
</div>

<div class="col-lg-6" style="padding-bottom:20px;min-height: 425px;" id="replace_content">

  <div class="green-img"><img width="118" height="99" src="/assets/img/map-green.jpg" alt=""></div>
  <div class="greenworx">Greenworx<br>
    555 Broadway Street, Suite 104 <br>
    South San Francisco, CA 94080<br>
    1-555-555-5555</div>

  <form method="post" accept-charset="UTF-8" action="/bangalore/government/business_settings/52" id="edit_wgu_52" class="edit_wgu"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="put" name="_method"><input type="hidden" value="g9DXYHwJ7I243s+UIg3/z0OkFH4MKlSsKOD0FWiqBk3Pt64r7v+SDtmSGAgo8JrASS9PR3EfcClvNuJqzTCXZA==" name="authenticity_token">
    <div class="invoice-tabs" style="margin-top:20px;">
      <div class="address-text">WGU Name:</div>
      <div class="invoice-input">
        <input type="text" id="wgu_name" name="wgu[name]" value="Wgu2" placeholder="Wgu Name">
      </div>
    </div>
    <div class="invoice-tabs wgu-list">
      <div class="address-text">Address:</div>
      <div class="invoice-input">
        <input type="text" id="wgu_address" name="wgu[address]" placeholder="Address">
      </div>
    </div>
    <div class="invoice-tabs wgu-list">
      <div class="address-text">Unit or Apt#:</div>
      <div class="invoice-input">
        <input type="text" placeholder="Suite 221">
      </div>
    </div>
    <div class="invoice-tabs wgu-list">
      <div class="address-text">City:</div>
      <div class="invoice-input">
        <input type="text" id="wgu_city" name="wgu[city]" placeholder="City">
      </div>
    </div>
    <div class="invoice-tabs wgu-list">
      <div class="address-text">State or Provence:</div>
      <div class="invoice-input">
        <input type="text" id="wgu_state" name="wgu[state]" placeholder="State">
      </div>
    </div>
    <div class="invoice-tabs wgu-list">
      <div class="address-text">Zip or Postal Code:</div>
      <div class="invoice-input">
        <input type="text" id="wgu_zip" name="wgu[zip]" placeholder="Zip">
      </div>
    </div>


  </form></div>