<div class="modal-header">
  <h4 class="modal-title">Terms and Conditions</h4>
  <small class="font-bold">
    Enter the terms and conditions for your city. Compliance from the contractor will be required before they submit their plan to the city.
  </small>
</div>

<div class="modal-body">
  <p>Hauling Requirements:</p>

  <p>-A contractor must use a City Approved Hauler as the hauler for "mixed debris" roll-off containers, except in the case of:</p>

  <p>-Source separated recyclables which are recycled at a recycling facility that holds all applicable permits and contain less than 5% by weight of non-recyclable materials</p>

  <p>-Mixed debris roll-off container(s) delivered and removed by a licensed contractor as an incidental part of a total construction, demolition, remodeling service offered by that contractor, rather than as a separately contracted or subcontracted hauling service using debris boxes or similar apparatus.</p>

  <p><b>WMP Insturctions Printout </b></p>

  <p> <input type="checkbox"> Display text below in WMP Instructions Printout</p>
  <p> <textarea rows="3" class="form-control"></textarea></p>

  <div style="width: 60%;float: right;">
    <button class="btn btn-primary" type="button">Update Information</button>
  </div>
</div>