<div class="modal-header">
  <h4 class="modal-title">Data Entry</h4>
  <small class="font-bold">
  </small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
    <div class="row">
      <div class="col-lg-6" style="width:100%;">
        <div class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab" aria-expanded="true"> Diversion</a></li>
            <li class=""><a href="#tab-2" data-toggle="tab" aria-expanded="false">Terms</a></li>
            <li class=""><a href="#tab-3" data-toggle="tab" aria-expanded="false">Franchise</a></li>
            <li class=""><a href="#tab-4" data-toggle="tab" aria-expanded="false">Materials</a></li>
            <li class=""><a href="#tab-5" data-toggle="tab" aria-expanded="false">Tickets</a></li>
            <li class=""><a href="#tab-6" data-toggle="tab" aria-expanded="false">Facilities</a></li>
            <li class=""><a href="#tab-7" data-toggle="tab" aria-expanded="false">Haulers</a></li>
            <li class=""><a href="#tab-8" data-toggle="tab" aria-expanded="false">Classification</a></li>
            <li class=""><a href="#tab-9" data-toggle="tab" aria-expanded="false">Checklist</a></li>
            <li class=""><a href="#tab-10" data-toggle="tab" aria-expanded="false">Tips</a></li>
            <li class=""><a href="#tab-11" data-toggle="tab" aria-expanded="false">Users</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
              <div class="panel-body">
                <strong>Permit & Ticket Settings</strong>
                <p>Configure your permit and ticket options for your contractors</p>
                <h5>Permit/APN Number Field</h5>
                <small>When creating Plans, users will be asked for:</small>
                <div class="form-group">
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""
                         style="float: left; margin-right: 5px;margin-top: 2px;">Permit Number or APN Number
                </div>
                <div class="form-group">
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked="" style="float: left; margin-right: 5px;margin-top: 2px;">Permit Number only
                </div>
                <div class="form-group">
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked="" style="float: left; margin-right: 5px;margin-top: 2px;">APN Number only
                </div>
                <h5>Require Permit Number to Start Project</h5>
                <div class="form-group">
                  <input type="checkbox" style="float: left; margin-right: 5px;margin-top: 2px;">require users to enter permit number before they start a project
                </div>
                <h5>Recycling and Disposal Tickets</h5>
                <div class="form-group">
                  <input type="checkbox" style="float: left; margin-right: 5px;margin-top: 2px;">require users to upload pictures of tickets
                </div>
                <h5>Salvage and Reuse Tickets</h5>
                <div class="form-group">
                  <input type="checkbox" style="margin-right: 5px;margin-top: 2px;">require users to upload pictures of tickets<br>
                  <input type="checkbox" style="margin-right: 5px;margin-top: 2px;">require users to upload pictures of tickets of the materials
                </div>

              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="panel-body">
                <strong>Franchise</strong>
                <p>Franchise Data</p>
              </div>
            </div>
          </div>
          <div style="float: right;margin-bottom: 10px;margin-top: 10px;width: 60%;">
            <button class="btn btn-primary" type="button">Update Information</button>
          </div>
        </div>
      </div>
    </div>
</div>