<div class="modal-header">
  <h4 class="modal-title">Diversion Rates and Submission Types</h4>
  <small class="font-bold">
    Please enter your city specific diversion rate into the box below and choose the appropriate waste management plan. These settings can be changed at any time by updating the setting on this page
  </small>
</div>

<div class="modal-body">

  <form method="post" accept-charset="UTF-8" action="/bangalore/government/program_settings">


      <div style="float: left" class="rc10 blockbox recycle_div" id="box1">

        <div class="blockbox_title">
          <b>
            City Diversion Rate
          </b>
        </div>


        <div class="col-sm-10" style="margin-top:10px;">

          <div class="row">
            <div class="col-md-2" style="width: 3.67%;">*</div>
            <div class="col-md-3" style="width: 13%;">
              <input type="text" class="form-control" placeholder="10.0">
              </div>
            <div class="col-md-4" style="width: 83%;">
              <p><b>Overall City Diversion Rate Requirement - </b></p>
              <p>The combination of inert and non-inert diversion rate will need to meet or exceed this overall
                diversion rate. </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="width: 3.67%;">*</div>
            <div class="col-md-3" style="width: 13%;">
              <input type="text" class="form-control" placeholder="20.0">
            </div>
            <div class="col-md-4" style="width: 83%;">
              <p><b>Inert Diversion Rate Requirement - </b></p>
              <p>Set the diversion rate for inert materials consisting of concrete, dirt, bricks, rock, sand and other
                inerts. </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2" style="width: 3.67%;">*</div>
            <div class="col-md-3" style="width: 13%;">
              <input type="text" class="form-control" placeholder="30.0">
            </div>
            <div class="col-md-4" style="width: 83%;">
              <p><b>Non-Inert Diversion Rate Requirement - </b></p>
              <p>Set the diversion rate for non-inert materials consisting of source sparated materials such as wood,
                metal, drywall, metal and other non-inerts. </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2" style="width: 3.67%;">*</div>
            <div class="col-md-3" style="width: 13%;">
              <input type="text" class="form-control" placeholder="40.0">
            </div>
            <div class="col-md-4" style="width: 83%;">
              <p><b>Mixed C&D Facility Diversion Requirement - </b></p>
              <p>Set the minimum diversion rate requirement of a Mixed C&D facility. </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2" style="width: 3.67%;">*</div>
            <div class="col-md-3" style="width: 13%;">
              <input type="text" class="form-control" placeholder="50.0">
            </div>
            <div class="col-md-4" style="width: 83%;">
              <p><b>Source Separated - </b></p>
              <p>The diversion rate you require for facilities accepting source separated materials.  </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2" style="width: 3.67%;">*</div>
            <div class="col-md-3" style="width: 13%;">
              <input type="text" class="form-control" placeholder="60.0">
            </div>
            <div class="col-md-4" style="width: 83%;">
              <p><b>Maximum Percentage Allowed for Inert Recycling - - </b></p>
              <p>The percentage you set is the maximum amount of Inert Recycling(concrete, rock, asphalt, etc.) that
                can be applied to the recycling totals of the entire project. </p>
            </div>
          </div>


        </div>


      </div>


      <div class="rc10 blockbox recycle_div" id="box2">
        <div class="blockbox_title">
          <b>
            Waste Management Plan Options<br></br>
          </b>
        </div>

        <div>
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Check Box Waste Management Plan
          </label>
          <ul class="details" style="margin-left: 43px;">
            <li>
              No Estimate of materials.
            </li>
            <li>
              Requires contractor to check the boxes for each material.
            </li>
            <li>
              This plan requires City Approval before contractor can begin adding tickets.
            </li>
            <li>
              Plan must be approved by City before Final Inspection.
            </li>
          </ul>
        </div>

        <div>
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Estimated Waste Management Plan
          </label>
          <ul class="details" style="margin-left: 43px;">
            <li>
              Requires contractor to estimate the amount of debris for each material.
            </li>
            <li>
              This plan requires City Approval before contractor can begin adding tickets.
            </li>
            <li>
              Plan must be approved by City before Final Inspection.
            </li>
          </ul>
        </div>

        <div>
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Project Tracker Waste Management Plan
          </label>
          <ul class="details" style="margin-left: 43px;">
            <li>
              No Estimate of materials required.
            </li>
            <li>
              Requires contractor to check the boxes for each material.
            </li>
            <li>
              This plan DOES NOT require City Approval before contractor can begin adding tickets.
            </li>
            <li>
              Plan must be approved by City before Final Inspection.
            </li>
          </ul>
        </div>

      </div>


    </div>

  </form>


</div>

<style>
    .recycle_div {
      border: 1px solid #cecece;
      padding: 10px;
    }

</style>