<div class="modal-header">
  <h4 class="modal-title">Diversion Rates and Submission Types</h4>
  <small class="font-bold">
    Please enter your city specific diversion rate into the box below and choose the appropriate waste management plan. These settings can be changed at any time by updating the setting on this page
  </small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">


  <div id="box1" class="rc10 blockbox recycle_div" style="float: left">

    <div class="blockbox_title">
      <b>
        City Diversion Rate
      </b>
    </div>


    <div style="margin-top:10px;" class="col-sm-10">

      <div class="row">
        <div style="width: 3.67%;" class="col-md-2">*</div>
        <div style="width: 13%;" class="col-md-3">
          <input type="text" placeholder="10.0" class="form-control">
        </div>
        <div style="width: 83%;" class="col-md-4">
          <p><b>Overall City Diversion Rate Requirement - </b></p>
          <p>The combination of inert and non-inert diversion rate will need to meet or exceed this overall
            diversion rate. </p>
        </div>
      </div>

      <div class="row">
        <div style="width: 3.67%;" class="col-md-2">*</div>
        <div style="width: 13%;" class="col-md-3">
          <input type="text" placeholder="20.0" class="form-control">
        </div>
        <div style="width: 83%;" class="col-md-4">
          <p><b>Inert Diversion Rate Requirement - </b></p>
          <p>Set the diversion rate for inert materials consisting of concrete, dirt, bricks, rock, sand and other
            inerts. </p>
        </div>
      </div>


      <div class="row">
        <div style="width: 3.67%;" class="col-md-2">*</div>
        <div style="width: 13%;" class="col-md-3">
          <input type="text" placeholder="30.0" class="form-control">
        </div>
        <div style="width: 83%;" class="col-md-4">
          <p><b>Non-Inert Diversion Rate Requirement - </b></p>
          <p>Set the diversion rate for non-inert materials consisting of source sparated materials such as wood,
            metal, drywall, metal and other non-inerts. </p>
        </div>
      </div>


      <div class="row">
        <div style="width: 3.67%;" class="col-md-2">*</div>
        <div style="width: 13%;" class="col-md-3">
          <input type="text" placeholder="40.0" class="form-control">
        </div>
        <div style="width: 83%;" class="col-md-4">
          <p><b>Mixed C&amp;D Facility Diversion Requirement - </b></p>
          <p>Set the minimum diversion rate requirement of a Mixed C&amp;D facility. </p>
        </div>
      </div>

      <div class="row">
        <div style="width: 3.67%;" class="col-md-2">*</div>
        <div style="width: 13%;" class="col-md-3">
          <input type="text" placeholder="50.0" class="form-control">
        </div>
        <div style="width: 83%;" class="col-md-4">
          <p><b>Source Separated - </b></p>
          <p>The diversion rate you require for facilities accepting source separated materials.  </p>
        </div>
      </div>


      <div class="row">
        <div style="width: 3.67%;" class="col-md-2">*</div>
        <div style="width: 13%;" class="col-md-3">
          <input type="text" placeholder="60.0" class="form-control">
        </div>
        <div style="width: 83%;" class="col-md-4">
          <p><b>Maximum Percentage Allowed for Inert Recycling - - </b></p>
          <p>The percentage you set is the maximum amount of Inert Recycling(concrete, rock, asphalt, etc.) that
            can be applied to the recycling totals of the entire project. </p>
        </div>
      </div>


    </div>


  </div>


  <div id="box2" class="rc10 blockbox recycle_div">
    <div class="blockbox_title">
      <b>
        Waste Management Plan Options<br><br>
      </b>
    </div>

    <div class="radio">
      <label>
        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
        Check Box Waste Management Plan
      </label>
      <ul style="margin-left: 43px;" class="details">
        <li>
          No Estimate of materials.
        </li>
        <li>
          Requires contractor to check the boxes for each material.
        </li>
        <li>
          This plan requires City Approval before contractor can begin adding tickets.
        </li>
        <li>
          Plan must be approved by City before Final Inspection.
        </li>
      </ul>
    </div>

    <div class="radio">
      <label>
        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
        Estimated Waste Management Plan
      </label>
      <ul style="margin-left: 43px;" class="details">
        <li>
          Requires contractor to estimate the amount of debris for each material.
        </li>
        <li>
          This plan requires City Approval before contractor can begin adding tickets.
        </li>
        <li>
          Plan must be approved by City before Final Inspection.
        </li>
      </ul>
    </div>

    <div class="radio">
      <label>
        <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">
        Project Tracker Waste Management Plan
      </label>
      <ul style="margin-left: 43px;" class="details">
        <li>
          No Estimate of materials required.
        </li>
        <li>
          Requires contractor to check the boxes for each material.
        </li>
        <li>
          This plan DOES NOT require City Approval before contractor can begin adding tickets.
        </li>
        <li>
          Plan must be approved by City before Final Inspection.
        </li>
      </ul>
    </div>

  </div>


</div>