<div style="margin-bottom:66px;border-color: #bfbfbf;max-width: 100%;margin-top: 10px;border-radius: 10px;" id="global-main-content">

  <form method="post" accept-charset="UTF-8" action="/bangalore/government/program_settings" id="edit_city_diversion_rate_9" class="edit_city_diversion_rate"><input type="hidden" value="✓" name="utf8"><input type="hidden" value="wUGbpTbvXCF2FNUjCBcHYlk6WYcIWN+oEYC9PR1gjbiNJuLupBkiohdYAr8C6mJtU7ECvnVt+y1WVqtCuPockQ==" name="authenticity_token">

    <input type="hidden" value="13" id="city_diversion_rate_level_id" name="city_diversion_rate[level_id]">
    <input type="hidden" value="40" id="city_diversion_rate_created_by_id" name="city_diversion_rate[created_by_id]">

    <div class="row" id="project-add-ticket-data-entry" style="margin:0px !important;">
      <div class="header-create" style="margin-left:20px;">Diversion Rates and Submission Types</div>

      <div class="field-text">
        <p>Please enter your city specific diversion rate into the box below and choose the appropriate waste management plan. These settings can be changed at any time by updating the setting on this page.</p>
      </div>

      <!-- form fields -->

      <div style="float: left;width:98%;" class="rc10 blockbox recycle_div" id="">

        <div class="blockbox_title">
          <b>
            City Diversion Rate
          </b>
        </div>

        <table class="box-content">
          <tbody>
          <tr id="pr_tr_diversion_rate" class="pr_even">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_diversion_rate">
                &nbsp;
              </a>
          <span class="name-highlight asterix">
            *
          </span>
            </td>
            <td style="width:13%;">
              <input type="text" name="city_diversion_rate[overall_city]" value="18.0" style="background: #fff none repeat scroll 0 0;
                      border: 1px solid #ccc;border-radius: 4px;font-style: italic;height: 30px;
                      padding: 0 5px;text-align: center;width: 72px !important;text-align: center;
                      margin-left:32px;box-shadow: 0 0 0 0 #ccc inset;" view="min" size="5" id="form_cities_config_plans_inert_rate">
            </td>
            <td style="width:80%;float:left;">
              <div style="line-height:20px;">
                <b>
                  <i>
                  </i></b><div class="resp-overall"><b><i> Overall City Diversion Rate Requirement
              </i>
                -
              </b>
                <br>
                The combination of inert and non-inert diversion rate will need to meet or exceed this overall diversion rate.
              </div>
              </div>
          <span id="validate_cities_config_plans_diversion_rate" class="pr_validate">
          </span>
            </td>
          </tr>
          <tr id="pr_tr_inert_rate" class="pr_odd">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_inert_rate">
                &nbsp;
              </a>
          <span class="name-highlight asterix">
            *
          </span>
            </td>
            <td style="width:13%;">

              <input type="text" name="city_diversion_rate[inert]" value="12.0" style="background: #fff none repeat scroll 0 0;
                      border: 1px solid #ccc;border-radius: 4px;font-style: italic;height: 30px;
                      padding: 0 5px;text-align: center;width: 72px !important;text-align: center;
                      margin-left:32px;box-shadow: 0 0 0 0 #ccc inset;" view="min" id="form_cities_config_plans_inert_rate">
            </td>
            <td style="width:80%;float:left;">
              <div style="line-height:20px;">
                <b>
                  <i>
                  </i></b><div class="resp-overall"><b><i> Inert Diversion Rate Requirement
              </i>
                -
              </b>
                <br>
                Set the diversion rate for inert materials consisting of concrete, dirt, bricks, rock, sand and other inerts.
              </div>
              </div>
          <span id="validate_cities_config_plans_inert_rate" class="pr_validate">
          </span>
            </td>
          </tr>
          <tr id="pr_tr_non_inert_rate" class="pr_even">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_non_inert_rate">
                &nbsp;
              </a>
          <span class="name-highlight asterix">
            *
          </span>
            </td>
            <td style="width:13%">
              <input type="text" name="city_diversion_rate[non_inert]" value="13.0" style="background: #fff none repeat scroll 0 0;
                      border: 1px solid #ccc;border-radius: 4px;font-style: italic;height: 30px;
                      padding: 0 5px;text-align: center;width: 72px !important;text-align: center;
                      margin-left:32px;box-shadow: 0 0 0 0 #ccc inset;" view="min" id="form_cities_config_plans_inert_rate">
            </td>
            <td style="width:80%;float:left;">
              <div style="line-height:20px;">
                <b>
                  <i>
                  </i></b><div class="resp-overall"><b><i> Non-Inert Diversion Rate Requirement
              </i>
                -
              </b>
                <br>
                Set the diversion rate for non-inert materials consisting of source sparated materials such as wood, metal, drywall, metal and other non-inerts.
              </div>
              </div>
          <span id="validate_cities_config_plans_non_inert_rate" class="pr_validate">
          </span>
            </td>
          </tr>
          <tr id="pr_tr_mixed_rate" class="pr_odd">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_mixed_rate">
                &nbsp;
              </a>
            </td>
            <td style="width:13%">
              <input type="text" name="city_diversion_rate[mixed]" value="4.0" style="background: #fff none repeat scroll 0 0;
                      border: 1px solid #ccc;border-radius: 4px;font-style: italic;height: 30px;
                      padding: 0 5px;text-align: center;width: 72px !important;text-align: center;
                      margin-left:32px;box-shadow: 0 0 0 0 #ccc inset;" view="min" id="form_cities_config_plans_inert_rate">

            </td>
            <td style="width:80%;float:left;">
              <div style="line-height:20px;">
                <b>
                  <i>
                  </i></b><div class="resp-overall"><b><i>  Mixed C&amp;D Facility Diversion Requirement
              </i>
                -
              </b>
                <br>
                Set the minimum diversion rate requirement of a Mixed C&amp;D facility.
              </div>
              </div>
          <span id="validate_cities_config_plans_mixed_rate" class="pr_validate">
          </span>
            </td>
          </tr>
          <tr id="pr_tr_diversion_ss_rate" class="pr_even">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_diversion_ss_rate">
                &nbsp;
              </a>
            </td>
            <td style="width:13%">
              <input type="text" name="city_diversion_rate[source_separated]" value="5.0" style="background: #fff none repeat scroll 0 0;
                      border: 1px solid #ccc;border-radius: 4px;font-style: italic;height: 30px;
                      padding: 0 5px;text-align: center;width: 72px !important;text-align: center;
                      margin-left:32px;box-shadow: 0 0 0 0 #ccc inset;" view="min" id="form_cities_config_plans_inert_rate">

            </td>
            <td style="width:80%;float:left;">
              <div style="line-height:20px;">
                <b>
                  <i>
                  </i></b><div class="resp-overall"><b><i> Source Separated
              </i>
                -
              </b>
                <br>
                The diversion rate you require for facilities accepting source separated materials.
              </div>
              </div>
          <span id="validate_cities_config_plans_diversion_ss_rate" class="pr_validate">
          </span>
            </td>
          </tr>
          <tr id="pr_tr_max_inert_recycling" class="pr_odd">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_max_inert_recycling">
                &nbsp;
              </a>
            </td>
            <td style="width:13%">
              <input type="text" name="city_diversion_rate[max_percentage]" value="6.04" style="background: #fff none repeat scroll 0 0;
                      border: 1px solid #ccc;border-radius: 4px;font-style: italic;height: 30px;
                      padding: 0 5px;text-align: center;width: 72px !important;text-align: center;
                      margin-left:32px;box-shadow: 0 0 0 0 #ccc inset;" view="min" id="form_cities_config_plans_inert_rate">

            </td><td style="width:80%;float:left;">
            <div style="line-height:20px;">
              <b>
                <i>
                </i></b><div class="resp-overall"><b><i> Maximum Percentage Allowed for Inert Recycling -
            </i>
              -
            </b>
              <br>
              The percentage you set is the maximum amount of Inert Recycling(concrete, rock, asphalt, etc.) that can be applied to the recycling totals of the entire project.
            </div>
            </div>
          <span id="validate_cities_config_plans_max_inert_recycling" class="pr_validate">
          </span>
          </td>
          </tr>
          </tbody>
        </table>
      </div>



      <div style="width: 98%;" class="rc10 blockbox recycle_div" id="">
        <div class="blockbox_title">
          <b>
            Waste Management Plan Options
          </b>
        </div>
        <table class="waste-management">
          <tbody>
          <tr id="pr_tr_plan_option" class="pr_even">
            <td width="1%" nowrap="" class="rlabel">
              <a name="validate_cities_config_plans_plan_option">
                &nbsp;
              </a>
              &nbsp;
            </td>
            <td>

              <ul style="padding-left: 67px;" id="management_plan" class="pr_radiolist resp-pr_radiolist">
                <li>
                  <input type="radio" id="city_diversion_rate_check_waste_management_true" name="city_diversion_rate[check_waste_management]" value="true">
                  <strong>
                    Check Box Waste Management Plan
                  </strong>
                  <ul style="margin-left: 43px;" class="details">
                    <li>
                      No Estimate of materials.
                    </li>
                    <li>
                      Requires contractor to check the boxes for each material.
                    </li>
                    <li>
                      This plan requires City Approval before contractor can begin adding tickets.
                    </li>
                    <li>
                      Plan must be approved by City before Final Inspection.
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="radio" id="city_diversion_rate_estimated_true" name="city_diversion_rate[estimated]" checked="checked" value="true">
                  <strong>
                    Estimated Waste Management Plan
                  </strong>
                  <ul style="margin-left: 43px;" class="details">
                    <li>
                      Requires contractor to estimate the amount of debris for each material.
                    </li>
                    <li>
                      This plan requires City Approval before contractor can begin adding tickets.
                    </li>
                    <li>
                      Plan must be approved by City before Final Inspection.
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="radio" id="city_diversion_rate_project_tracker_true" name="city_diversion_rate[project_tracker]" value="true">
                  <strong>
                    Project Tracker Waste Management Plan
                  </strong>
                  <ul style="margin-left: 43px;" class="details">
                    <li>
                      No Estimate of materials required.
                    </li>
                    <li>
                      Requires contractor to check the boxes for each material.
                    </li>
                    <li>
                      This plan DOES NOT require City Approval before contractor can begin adding tickets.
                    </li>
                    <li>
                      Plan must be approved by City before Final Inspection.
                    </li>
                  </ul>
                </li>
              </ul>
          <span id="validate_cities_config_plans_plan_option" class="pr_validate">
          </span>
            </td>
          </tr>
          <input type="hidden" value="city_diversion_rate;diversion_rate;inert_rate;non_inert_rate;mixed_rate;diversion_ss_rate;max_inert_recycling;waste_management_plan_options;plan_option" name="_pr_form_fields">
          <input type="hidden" value="ef0a8ad817ac622ad272bc45c4a582f6" name="_pr_form_key">
          </tbody>
        </table>
      </div>


    </div>
    <div align="right" class="submit-button resp-submit-button" style="width:100%;margin-right:30px;">
      <input type="submit" id="recycle_target_update" style="font-size: 17px;" class="upload-button-submit" value="Update Information" name="commit">
    </div>
  </form>




  <!--last content-->

</div>


<style>
    .recycle_div {border: 1px solid #cecece;
    margin: 10px;
    padding: 10px;
    }
</style>