<script type="text/javascript" src="/assets/icheck.min.js"></script>
<script type="text/javascript" src="/assets/jquery.metisMenu.js"></script>
<script type="text/javascript" src="/assets/cropper.min.js"></script>

<script type="text/css" src="/assets/datepicker3.css"></script>
<script type="text/css" src="/assets/bootstrap-colorpicker.min.css"></script>

<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal inmodal" style="display: none; z-index: 100 !important;">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header" style="padding-top:10px ">
        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Schedule a Web Demo</h4>
        <small class="font-bold">Schedule a Web Demo to find out more about all of the features, functions and reporting capabilities WasteTracking.com has to offer.Thank you for visiting WasteTracking.com!</small>
      </div>
      <div class="modal-body" style="padding-bottom: 100px">
        <p>
        <div class="form-group">

          <!--<input type="text" class="form-control" placeholder="Full Name*"><br>-->

          <div class="input-group m-b"><span class="input-group-addon">
            <i class="fa fa-users"></i>
          </span> <input type="text" style="height:36px !important;"  placeholder="Full Name*" class="form-control"></div>


          <div class="input-group m-b">
            <span class="input-group-addon">
             <i class="fa fa-envelope-square"></i>
            </span>
            <input type="text" style="height:36px !important;"  placeholder="Email Address*" class="form-control">
          </div>

          <div class="input-group m-b">
            <span class="input-group-addon">
             <i class="fa fa-phone"></i>
            </span>
            <input type="text" style="height:36px !important;"  placeholder="Phone (with area code)*" class="form-control">
          </div>

          <!--<div class="input-group m-b" id = "datepicker1">-->
            <!--<span class="input-group-addon" >-->
             <!--<i class="fa fa-calendar"></i>-->

            <!--</span>-->
            <!--<input type="text" style="height:36px !important;"  placeholder="Request Specific Date*" class="form-control">-->
          <!--</div>-->

          <div class="form-group" id="data_1">
            <label class="font-noraml">Simple data input format</label>
            <div class="input-group date">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
            </div>
          </div>


          <!--<div class="input-group m-b clockpicker" >-->
            <!--<span class="input-group-addon">-->
             <!--<i class="fa fa-clock-o"></i>-->
            <!--</span>-->
            <!--<input type="text" style="height:36px !important;"  placeholder="Best Time to Call*" class="form-control">-->
          <!--</div>-->

          <div class="input-group clockpicker form-group" data-autoclose="true">
            <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
            <input type="text" class="form-control" value="09:30">

          </div>




          <select class="form-control m-b" name="account">
            <option value="">Select Time Zone*</option>
            <option value="Pacific Time">Pacific Time</option>
            <option value="Mountain Time">Mountain Time</option>
            <option value="Central Time">Central Time</option>
            <option value="Eastern Time">Eastern Time</option>
          </select>
        </div>
        </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-white" type="button">Close</button>
        <button class="btn btn-primary" type="button">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('#data_1 .input-group.date').datepicker({
          todayBtn: "linked",
          keyboardNavigation: false,
          forceParse: false,
          calendarWeeks: true,
          autoclose: true
      });

      $('.clockpicker').clockpicker();


  })
</script>

<style>
    .modal-backdrop{
        z-index: 99 !important;
    }

</style>

<style>
    /*!
   * ClockPicker v{package.version} for Bootstrap (http://weareoutman.github.io/clockpicker/)
   * Copyright 2014 Wang Shenwei.
   * Licensed under MIT (https://github.com/weareoutman/clockpicker/blob/gh-pages/LICENSE)
   */

    .clockpicker .input-group-addon {
        cursor: pointer;
    }
    .clockpicker-moving {
        cursor: move;
    }
    .clockpicker-align-left.popover > .arrow {
        left: 25px;
    }
    .clockpicker-align-top.popover > .arrow {
        top: 17px;
    }
    .clockpicker-align-right.popover > .arrow {
        left: auto;
        right: 25px;
    }
    .clockpicker-align-bottom.popover > .arrow {
        top: auto;
        bottom: 6px;
    }
    .clockpicker-popover .popover-title {
        background-color: #fff;
        color: #999;
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }
    .clockpicker-popover .popover-title span {
        cursor: pointer;
    }
    .clockpicker-popover .popover-content {
        background-color: #f8f8f8;
        padding: 12px;
    }
    .popover-content:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .clockpicker-plate {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: visible;
        position: relative;
        /* Disable text selection highlighting. Thanks to Hermanya */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .clockpicker-canvas,
    .clockpicker-dial {
        width: 200px;
        height: 200px;
        position: absolute;
        left: -1px;
        top: -1px;
    }
    .clockpicker-minutes {
        visibility: hidden;
    }
    .clockpicker-tick {
        border-radius: 50%;
        color: #666;
        line-height: 26px;
        text-align: center;
        width: 26px;
        height: 26px;
        position: absolute;
        cursor: pointer;
    }
    .clockpicker-tick.active,
    .clockpicker-tick:hover {
        background-color: rgb(192, 229, 247);
        background-color: rgba(0, 149, 221, .25);
    }
    .clockpicker-button {
        background-image: none;
        background-color: #fff;
        border-width: 1px 0 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin: 0;
        padding: 10px 0;
    }
    .clockpicker-button:hover {
        background-image: none;
        background-color: #ebebeb;
    }
    .clockpicker-button:focus {
        outline: none!important;
    }
    .clockpicker-dial {
        -webkit-transition: -webkit-transform 350ms, opacity 350ms;
        -moz-transition: -moz-transform 350ms, opacity 350ms;
        -ms-transition: -ms-transform 350ms, opacity 350ms;
        -o-transition: -o-transform 350ms, opacity 350ms;
        transition: transform 350ms, opacity 350ms;
    }
    .clockpicker-dial-out {
        opacity: 0;
    }
    .clockpicker-hours.clockpicker-dial-out {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    .clockpicker-minutes.clockpicker-dial-out {
        -webkit-transform: scale(.8, .8);
        -moz-transform: scale(.8, .8);
        -ms-transform: scale(.8, .8);
        -o-transform: scale(.8, .8);
        transform: scale(.8, .8);
    }
    .clockpicker-canvas {
        -webkit-transition: opacity 175ms;
        -moz-transition: opacity 175ms;
        -ms-transition: opacity 175ms;
        -o-transition: opacity 175ms;
        transition: opacity 175ms;
    }
    .clockpicker-canvas-out {
        opacity: 0.25;
    }
    .clockpicker-canvas-bearing,
    .clockpicker-canvas-fg {
        stroke: none;
        fill: rgb(0, 149, 221);
    }
    .clockpicker-canvas-bg {
        stroke: none;
        fill: rgb(192, 229, 247);
    }
    .clockpicker-canvas-bg-trans {
        fill: rgba(0, 149, 221, .25);
    }
    .clockpicker-canvas line {
        stroke: rgb(0, 149, 221);
        stroke-width: 1;
        stroke-linecap: round;
        /*shape-rendering: crispEdges;*/
    }
    .clockpicker-button.am-button {
        margin: 1px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;

    }
    .clockpicker-button.pm-button {
        margin: 1px 1px 1px 136px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;
    }
0
</style>


