<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal inmodal" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Schedule a Web Demo</h4>
        <small class="font-bold">Schedule a Web Demo to find out more about all of the features, functions and reporting capabilities WasteTracking.com has to offer.Thank you for visiting WasteTracking.com!</small>
      </div>
      <div class="modal-body">
        <p>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Full Name*"><br>
          <input type="email" class="form-control" placeholder="Email Address*"><br>
          <input type="text" class="form-control" placeholder="Phone (with area code)*"><br>
          <input type="text" class="form-control" placeholder="Request Specific Date*"><br>
          <input type="text" class="form-control" placeholder="Best Time to Call*"><br>
          <select class="form-control m-b" name="account">
            <option value="">Select Time Zone*</option>
            <option value="Pacific Time">Pacific Time</option>
            <option value="Mountain Time">Mountain Time</option>
            <option value="Central Time">Central Time</option>
            <option value="Eastern Time">Eastern Time</option>
          </select>
        </div>
        </p>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-white" type="button">Close</button>
        <button class="btn btn-primary" type="button">Save changes</button>
      </div>
    </div>
  </div>
</div>