<div class="modal-header">
  <h4 class="modal-title">Classifications</h4>
  <small class="font-bold">
    Listed below are the preset project types and the user entered project types. While the preset list cannot be
    edited or deleted, you can customize the city added project types to meet the requirements of your city. Enable
    or disable a project type by toggling the green check mark on and off. Delete project types at any time from the
    city added project types list by selecting checkboxes.
  </small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Project Types</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-5 m-b-xs">
                <h5>Preset Project Types(cannot be deleted) </h5>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Name </th>
                  <th>Status </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Project Type 1
                  </td>
                  <td><i class="fa fa-check" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Project Type 2
                  </td>
                  <td><i class="fa fa-times" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Project Type 3
                  </td>
                  <td><i class="fa fa-check" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Project Type 4
                  </td>
                  <td><i class="fa fa-times" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Project Type 5
                  </td>
                  <td><i class="fa fa-check" style="font-size: 22px;"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div style="float: right;margin-bottom: 10px;margin-top: 10px;width: 56%;">
            <button class="btn btn-primary" type="button">Add Project Type</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title"><h5>Building Types</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-5 m-b-xs">
                <h5>Preset Building Types(cannot be deleted) </h5>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>Name </th>
                  <th>Status </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Building Type 1
                  </td>
                  <td><i class="fa fa-check" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Building Type 2
                  </td>
                  <td><i class="fa fa-times" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Building Type 3
                  </td>
                  <td><i class="fa fa-check" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Building Type 4
                  </td>
                  <td><i class="fa fa-times" style="font-size: 22px;"></i></td>
                </tr>
                <tr>
                  <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                  <td>
                    Building Type 5
                  </td>
                  <td><i class="fa fa-check" style="font-size: 22px;"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div style="float: right;margin-bottom: 10px;margin-top: 10px;width: 56%;">
            <button class="btn btn-primary" type="button">Add Building Type</button>
          </div>
        </div>
      </div>
    </div>
</div>