
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>For <%= @signup_type %> Agencies only</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <h2>
                  <%= @signup_type %> Form
                </h2>

                <form id="form" action="#" class="wizard-big">
                    <h1>Get Pricing</h1>
                    <fieldset style="position: unset;">
                        <h2>Pricing Information</h2>
                        <div class="row">

                            <div class="col-lg-8">
                              <div class="form-group">
                                <div class="col-sm-10">
                                  <div class="row">
                                    <div class="col-md-4" style="width: 36.333%;">
                                      <input id="business_user_zipcode" name="userName" type="text"
                                             class="form-control required" placeholder="Enter Postal or Zip code">
                                    </div>
                                    <button id="business_search_img" class="btn btn-w-m btn-default" type="button"
                                            disabled="true" >Start</button>
                                  </div>
                                </div>
                              </div>
                                <div class="form-group">
                                    <img width="340" height="200" alt="Map" src="/assets/img/map.jpg" id="unloading_map" style="margin-top: 10px;">
                                </div>
                                  <div class="form-group">
                                    <div style="width: 340px; height: 200px; margin-left: 43px; display: none;" id="map"></div>
                                  </div>
                                <div class="form-group">
                                    <input id="post_location" name="userName" type="text" class="form-control required" placeholder="Local Verification" style="width: 47.3%;margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-w-m btn-default" type="button" style="width: 28%;margin-left: 60px;" id="reset_zipcode">No, try again</button>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <div style="margin-top: 20px">
                                        <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <h1>Profile</h1>
                    <fieldset style="position:unset;">
                        <h2>Profile Information</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input id="email" name="email" type="text" class="form-control required email">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Email *</label>
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Password *</label>
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password *</label>
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>

                              <div class="form-group">
                                <label>First Name *</label>
                                <input id="email" name="email" type="text" class="form-control required email">
                              </div>
                              <div class="form-group">
                                <label>Last Name *</label>
                                <input id="address" name="address" type="text" class="form-control">
                              </div>
                              <div class="form-group">
                                <label>Position *</label>
                                <input id="address" name="address" type="text" class="form-control">
                              </div>
                              <div class="form-group">
                                <label>Company Name *</label>
                                <input id="address" name="address" type="text" class="form-control">
                              </div>
                              <div class="form-group">
                                <label>Company Website *</label>
                                <input id="address" name="address" type="text" class="form-control">
                              </div>
                            </div>

                          <div class="col-lg-6">
                            <div class="form-group">
                              <label>Street Address *</label>
                              <input id="name" name="name" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>Suite/Unit *</label>
                              <input id="surname" name="surname" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>City *</label>
                              <input id="name" name="name" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>State *</label>
                              <input id="surname" name="surname" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>Pincode *</label>
                              <input id="name" name="name" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>Phone *</label>
                              <input id="surname" name="surname" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>How do you heard about this? *</label>
                              <input id="name" name="name" type="text" class="form-control required">
                            </div>
                            <div class="form-group">
                              <label>Domain Name *</label>
                              <input id="surname" name="surname" type="text" class="form-control required error">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" style="margin-top: 29px;">Check Availability</button>
                                <span style="float: right;width: 57%;margin-top: 38px;">
                                  WasteTracking.com/XXXXXXXXXXXXX
                                </span>
                            </div>
                          </div>

                        </div>
                    </fieldset>

                    <h1>Calculate Pricing</h1>
                    <fieldset style="position: unset;">

                      <div class="text-center">
                      <div class="row">

                            <div class="population_by_agency">
                              <p>Wgu governed by your agency:
                                <select id="wgu_selection" name="wgu_selection">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </p>
                              <button class="btn btn-primary" type="button">CALCULATE</button>
                            </div>

                            <p style="clear:both;padding-top: 16px;">Based on <span class="default_population">1</span> Wgu for <span class="highlight_text"><%= @user.city if @user %></span> your pricing options are listed below</p>
                            <p>Pricing include monthly hosting, maintenence and support for staff and wgu</p>

                            <p align="left"><b>Pricing Options:</b></p>

                        <div id = "business_pricing_plan">
                          <p>
                              <input type="radio" name="usd" value="monthly" style="display: unset;">Monthly USD is $9.99

                              <input type="radio" name="usd" value="quarterly" style="display: unset;">Quarterly USD is $29.97

                              <input type="radio" name="usd" value="annualy" style="display: unset;">Annual USD is $109.89
                          </p>
                        </div>

                        <p align="left"><b>Payment Options:</b></p>

                        <div class="bussiness_payment">

                          <p>
                            <input type="radio" name="pay" value="credit" style="display: unset;"> Pay By Credit Card
                            <input type="radio" name="pay" value="invoice" style="display: unset;">Pay By Invoice<br>
                          </p>
                        </div>

                        <div class="bussiness_submit">
                          <button class="btn btn-default" type="button">Submit</button>
                        </div>

                      </div>
                      </div>
                    </fieldset>

                    <h1>Payment</h1>
                    <fieldset style="position: unset;">
                        <h2>Pay By Invoice</h2>
                        <p>Please complete the following information to Generate an Invoice.</p>
                         <div class="row">

                           <div class="col-md-2" style="width: 33.33%">
                               <p style="font-size:17px;"><b>Account Information</b></p>
                                 <p>DSF VJ</p>
                                 <p>FDS</p>
                                 <p>ghj</p>
                                 <p>CA</p>
                                 <p>Buellton</p>
                                 <p>93427</p>
                           </div>

                           <div class="col-md-3" style="width: 33.33%">
                               <p style="font-size:17px;"><b>Bill to Information:</b></p>

                               <p style="font-size:17px;">
                                 <input type="checkbox" value="95" id="information" name="information">
                                 &nbsp;&nbsp;
                                 <span> Same as account Information</span></p>

                                 <input type="text" class="form-control m-b" placeholder="Full Name" id="po_full_name" name="po_full_name">

                                 <input type="text" class="form-control m-b" placeholder="Company Name" id="po_company_name" name="po_company_name">

                                 <input type="text" class="form-control m-b" placeholder="Address" id="po_address" name="po_address">

                                 <input type="text" class="form-control m-b" placeholder="State" id="po_state" name="po_state">

                                 <input type="text" class="form-control m-b" placeholder="City" id="po_city" name="po_city">

                                 <input type="text" class="form-control m-b" placeholder="Zip Code" id="po_zipcode" name="po_zipcode">


                           </div>

                           <div class="col-md-4" style="width: 33.33%">
                             <div align="right" class="form-information form-information-bussiness">
                               <span id="invoice_message"></span>
                               <img width="238" height="58" src="/assets/img/logo-pay.png">
                               <div class="tracking_address">
                                 <p>521 Charcot Avenue</p>
                                 <p> San Jose, CA 95131</p>
                                 <p>1-888-525-1301</p>
                               </div>
                               <div class="invoice-label">
                                 <p>Invoice # <span id="buss_invoice">79810845</span></p>
                                 <p>Date: <span>2015-12-24</span></p>
                               </div>
                             </div>
                           </div>
                         </div>
                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppressing "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        }
    }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

});

</script>


    <script type="text/javascript">
        //Business - get location for zipcode entered
        $(document).ready(function(){
            $("#business_search_img").click(function(){
                var zipcode = $("#business_user_zipcode").val();
                if(zipcode != "") {
                    $.ajax({
                        type: "GET",
                        url: "/business/logins/get_city_and_state",
                        data: {zipcode: zipcode},
                        dataType: "json"
                    }).success(function (address_details) {
                        if (address_details[3] == null || address_details[2] == null ){
                            $(".form_submit_div :submit").css('background','#585858');
                            //$(".zipcode_error_message").show();
                            alert("Please enter valid zip code or postal code to get started. If your zip code or postal code is does not appear " +
                                    "then please click the Help button or call tech support at 1-888-525-1301");
                            $("#unloading_map").show();
                            $("#map").hide();
                            $("#post_location").val("Location Verification");
                        }

                        else{
                            $("#unloading_map").hide();
                            $("#map").show();
                            var handler = Gmaps.build('Google', {markers: {clusterer: {maxZoom: 6, gridSize: 10}}});
                            handler.buildMap({internal: {id: 'map'}}, function () {


                                //$(".zipcode_error_message").hide();

                                $("#post_location").val("Are you in " + address_details[3] + "," + " " + address_details[2] + "?").attr('readonly', true);
                                $(".form_submit_div :submit").css('background','#99cc33')
                                var markers = handler.addMarkers([
                                    {lat: address_details[0], lng: address_details[1]}

                                ]);
                                handler.bounds.extendWith(markers);
                                handler.fitMapToBounds();
                                handler.getMap().setZoom(10);
                            });

                        }
                    });
                }
                else{
                    $("#map").hide();
                    $("#unloading_map").show();
                    //$(".zipcode_error_message").show();
                    alert("Please enter valid zip code or postal code to get started. If your zip code or postal code is does not appear " +
                            "then please click the Help button or call tech support at 1-888-525-1301");
                    $("#post_location").val("Location Verification");
                    return false;
                }
            });

            $('.sactions.clearfix ul li:nth-child(2)').click(function(){
                var zipcode = $("#business_user_zipcode").val();
                $.ajax({
                    url: "/business/logins/get_location_from_zipcode", // Route to the Script Controller method
                    type: "GET",
                    dataType: "json",
                    data: { business_user_zipcode: zipcode },
                    success: function(data){
                      $('#form-p-0').css('display','none');
                      $('#form-p-1').css('display','block');
                      $('.first.current').next().attr('class', 'current');
                      $('.first.current').next().attr('attr-selected', 'true')
                      $('.first.current').attr('aria-selected', 'false');
                      $('.first.current').attr('class', 'first done');
                    }
                })
            });


            $('#business_user_zipcode').on('keyup', function() {

                    if($(this).val().length > 4){
                        $("#business_search_img").attr('class','btn btn-w-m btn-primary');
                    } else{
                        $("#business_search_img").attr('class','btn btn-w-m btn-default');
                        $('#business_search_img').removeAttr('disabled');
                    }

            });

            $("#reset_zipcode").click(function(){
                $(".form_submit_div :submit,.verify-search").css('background','#585858');
                $("#business_user_zipcode").val("");
                return false;
            });



        });





    </script>

<% end %>


<style>
  #map {overflow: visible;
    margin-left: 15px!important;
    margin-top: 40px;
  }
</style>