
<div id="donut-example"></div>


<script type="text/javascript">
    Morris.Donut({
        element: 'donut-example',
        data: [
            {label: "Download Sales", value: 12},
            {label: "In-Store Sales", value: 30},
            {label: "Mail-Order Sales", value: 20}
        ]
    });
</script>

