<% unless params[:level_selection].present? %>
    <ol>
      <% for i in 1..1 %>
          <li class="wgu-input-div">


            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Enter Level Name</label>
              <%= text_field_tag "level[#{i}][name]", "",:class => "form-control", :placeholder => "Enter Level Name" %>
            </div>

            <div class="form-group">
              <label class="sr-only" for="exampleSelect">Select</label>
              <%= select_tag "level[#{i}][level_id]", options_for_select([[level_object.name,level_object.id]]), :class => "form-control",
                             :style => "height:25%;", :prompt => @all_levels.blank? ? "Select Level" : "Assign To Level" %>
            </div>
          </li>
      <%end%>

    </ol>
<%else%>

    <ol style="margin:0; padding-left:20px; width:100%;">
      <% for i in 1..params[:level_selection].to_i %>
          <li class="wgu-input-div">


            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Enter Level Name</label>
              <%= text_field_tag "level[#{i}][name]", "",:class => "form-control", :placeholder => "Enter Level Name" %>
            </div>

            <div class="form-group">
              <label class="sr-only" for="exampleSelect">Select</label>
              <%= select_tag "level[#{i}][level_id]", options_for_select([[level_object.name,level_object.id]]), :class => "form-control",
                             :style => "height:25%;", :prompt => @all_levels.blank? ? "Select Level" : "Assign To Level" %>
            </div>
          </li>
      <%end%>
    </ol>

<%end%>

