<div class="modal inmodal" id="myModal15" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" style = "width:95%;margin-top: 9px;">
    <div class="modal-content">

       <div id="replace_ajax_response">

       </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  </div>


<script>
    $('#myModal15').on('show.bs.modal', function(e) {
        var level_id = e.relatedTarget.id;
        $.ajax({
            type: "GET",
            url: "/levels/get_level"
        }).success(function(data){
            $('#replace_ajax_response').html(data);
        })
    });
</script>