<div class="modal inmodal" id="myModal_reports" tabindex="-1" role="dialog" aria-hidden="true"
     style="margin-left: 29px!important; width: 95%;">
  <div class="modal-dialog modal-lg" style = "width:auto;margin-top: 9px;">
    <div class="modal-content">
      <div class="modal-header" style = "background-color: #676a6c;max-height: 30px;padding-top:10px;">
             <span>
                <span>
                   <i class = "fa fa-repeat" style = "color: white;float:left;margin-top:3px;"></i>
                   <span style="top:13px;float:left;margin-left: 9px;border-left: 2px solid #19aa8d;">|</span>
                   <span style="float:left">
                      <a href="#" style="color:#FFFFFF">
                        <i class="fa fa-list" id="menulist_rep"></i>
                      </a>
                   </span>
                   <span style = "color:white;font-weight:bold;float:left;margin-left:67px;">Reports - WGU 8766098095</span>
                 </span>

                 <span style="top:13px;float:right;margin-right: 5px;border-left: 2px solid #19aa8d;">|</span>
               <i class = "fa fa-times" data-dismiss="modal" style = "float:right;color: white;cursor: pointer;
                       margin-right: -20px;margin-top: 4px;"></i>
             </span>


      </div>

      <div id="displaymenu_rep" class="displaylist" style="position: absolute;">
        <%= image_tag "img/pop-img.png", :class=>"pop-pointer-dd" %>
        <ul class="pop-dropdown">
          <li> <%= link_to "All Wgus", "#", onclick:"dynamic_reports_settings('#{business_level_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
          <li> <%= link_to "All Wgus", "#", onclick:"dynamic_reports_settings('#{recycling_target_program_settings_path(current_user.domain_name, current_user.role_type.downcase)}');" %> </li>
        </ul>
      </div>

      <div id="replace_ajax_response">
        <%= render partial:"business_level_settings/all_wgus"%>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<style>
    /* for level setting popup title bar*/
    .displaylist
    {
        background: #d3d3d3 none repeat scroll 0 0;
        color: #000000;
        display: none;
        border: 1px solid #504f4f;
        margin: 12px 0 0 1%;
        width: 212px;
        position: relative;
        z-index: 11;
    }

    .pop-dropdown
    {
        list-style:none;
        border-top: 4px solid #504f4f;
        margin:0;
        padding:0;
    }
    .pop-dropdown > li > a
    {
        text-decoration:none;
        clear: both;
        color: #333;
        display: block;
        font-weight: 400;
        padding: 3px 14px;
        white-space: nowrap;
        text-align: left;
    }
    .pop-dropdown > li > a:focus,.pop-dropdown > li > a:hover
    {
        background:#BFBFBF;
        color:#333;
    }

    .modal-body{min-height:486px;}

    .pop-pointer-dd {
        margin-left: 31px;
        position: absolute;
        top: -11px;
    }

</style>