
<% sub_level.each do |level| %>
    <li>
    <div class="parent-2 ibox-title" align="right" id = "main_level_<%= level.id %>">

      <h5><%= level.name %></h5>

      <a class="close-link">
        <i class="fa fa-info fa-wticn"></i>
      </a>

      <div class="company-img ibox-tools dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-wrench fa-wticn"></i>
        </a>
        <ul class="dropdown-menu wgu-dropdown" role="menu" aria-labelledby="menu1">

          <img src="../img/wgu-dropdwn-pointer.png" class="wgu-pointer-dd" alt="" />

          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="reports.html">
              <div>View Reports</div>
              <div style="color:#999999; font-size:10px;">
                View Reports and Statistics for this WGU and the WGUs in this section
              </div>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="messages.html">
              <div>Messages</div>
              <div style="color:#999999; font-size:10px;">
                View Reports and Statistics for this WGU and the WGUs in this section
              </div>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="settings-management.html">
              <div>Level Settings</div>
              <div style="color:#999999; font-size:10px;">
                Manage settings for this level and levels below
              </div>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="manage-portal.html">
              <div>Manage Portal</div>
              <div style="color:#999999; font-size:10px;">
                Create Edit and Delete standalone portal for this WGU
              </div>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
              <div>API</div>
              <div style="color:#999999; font-size:10px;">
                Manage your connections with other software
              </div>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">
              <div>Add Level</div>
              <div style="color:#999999; font-size:10px;">
              </div>
            </a>
          </li>
          <!--<li role="presentation">
            <a role="menuitem" tabindex="-1" href="settings-government.html">
                <div>Settings</div>
                <div style="color:#999999; font-size:10px;">
                    Manage settings for this level and levels below
                </div>
            </a>
          </li>-->

          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" class="addwgu" tabindex="-1" href="#" style="color:#058F26;">
              Add New Waste Generating Unit
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" style="color:#FF0707;">
              Delete This WGU
            </a>
          </li>
        </ul>
      </div>

      <div class="collapse-link ibox-tools setting expand">
        <i class="fa fa-chevron-up fa-wticn"></i>
      </div>

      <%= link_to "/getting_sub_levels/#{level.id}" ,remote: true do %>
          <i class="fa fa-chevron-up  fa-wticn"></i>
      <%end%>

      <a class="close-link">
        <i class="fa fa-times fa-wticn"></i>
      </a>
    </div>

        <ul></ul>

</li>
<%end%>
