<%= javascript_include_tag "graphs" %>
<%= stylesheet_link_tag "graphs" %>

<div class="modal inmodal" id="myModal_add_data" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" style = "width:95%;margin-top: 9px;">
    <div class="modal-content">
      <div class="modal-header" style = "background-color: #676a6c;max-height: 30px;padding-top:10px;">
             <span>
                <span>
                   <i class = "fa fa-repeat" style = "color: white;float:left;margin-top:3px;"></i>
                   <span style="top:13px;float:left;margin-left: 9px;border-left: 2px solid #19aa8d;">|</span>

                   <span style = "color:white;font-weight:bold;float:left;margin-left:8px;">WGU Settings Profile</span>
                 </span>

                 <span style="top:13px;float:right;margin-right: 5px;border-left: 2px solid #19aa8d;">|</span>
               <i class = "fa fa-times" data-dismiss="modal" style = "float:right;color: white;cursor: pointer;
                       margin-right: -20px;margin-top: 4px;"></i>
             </span>


      </div>


      <div class="modal-header">
        <h4 class="modal-title">Add Data</h4>
      </div>

      <div class="modal-body">
        <div class="col-sm-10" style="width:100%;margin-bottom: 10px;">
          <div class="row">
            <div class="col-md-2" style="width:43.33%;">
              <p>WGU Name: WGU22</p>
              <p>             <b>Data Entry For Solid Materials</b>       </p>
              <div class="col-md-4"  style="width:43.33%;">
                 <input type="text" class="form-control" placeholder="generate ticket invoice"
                                           name="ticket[generate_ticket_invoice]" id="ticket_generate_ticket_invoice">
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-left: 38px;">
                <input type="text" class="form-control" placeholder="ticket date" name="ticket[ticket_date]"
                       id="ticket_ticket_date">
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-top:10px;">
                <input type="text" class="form-control" placeholder="Total Weight or Volume"
                       name="ticket[weight]" id="ticket_weight">
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-top:10px;margin-left: 38px;">
                <div class="form-group">
                  <select name="account" class="form-control m-b">
                    <option>CubicYards</option>
                    <option>Kilograms</option>
                    <option>Volumes</option>
                    <option>Metres</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4"  style="width:43.33%;">
                <div class="form-group">
                  <select name="account" class="form-control m-b">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-left: 38px;">
                <div class="form-group">
                  <select name="account" class="form-control m-b">
                    <option>1 cu.yd</option>
                    <option>2 cu.yd</option>
                    <option>3 cu.yd</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4"  style="width:43.33%;">
                <input type="text" class="form-control" placeholder="Enter Disposal Fee $"
                       name="ticket[disposal]" id="ticket_disposal">
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-left: 38px;">
                <input type="text" class="form-control" placeholder="Recycling Money Back $"
                       name="ticket[recycling_money_back]" id="ticket_recycling_money_back">
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-top:10px;">
                <div class="form-group">
                  <select name="account" class="form-control m-b">
                    <option>Demolition</option>
                    <option>Reconstruction</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4"  style="width:40.33%;margin-top:10px;margin-left: 37px;">
                <button class="btn btn-primary" type="button">Add New Vendor</button>
              </div>
              <div class="col-md-4"  style="width:43.33%;margin-top:10px;clear: both;">
                <div class="form-group">
                  <select name="account" class="form-control m-b">
                    <option>Transportion</option>
                    <option>Parcel Service</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4"  style="width:40.33%;margin-top:10px;margin-left: 37px;">
                <button class="btn btn-primary" type="button">Add New Facility</button>
              </div>
            </div>
            <div class="col-md-3" style="width:28.33%;">     <p>Number of Entries for this WGU: 3</p>
              <p><b>Disposition Details</b></p>
              <div class="ibox-content">

                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Disposition</th>
                    <th>Total</th>
                    <th>%</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>

                    <td>Recycled</td>
                    <td>100</td>
                    <td>25%</td>
                  </tr>
                  <tr>

                    <td>Reused</td>
                    <td>200</td>
                    <td>30%</td>
                  </tr>
                  <tr>
                    <td>Disposed</td>
                    <td>300</td>
                    <td>35%</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>600</td>
                    <td>30%</td>
                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="col-md-4" style="width:28.33%;">
              <p> Entered By: GreenWorx - 09/12/15 </p>
              <img alt="Add data image" src="/assets/img/add-data-image.jpg" style="margin-top:15px;">
              <img alt="Add data image" src="/assets/img/add-data-image.jpg" style="margin-top:15px;">
              <button class="btn btn-primary" type="button" style="margin-top: 10px;">Upload Supporting Documentation</button>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="ibox float-e-margins">
            <div class="ibox-title"><h5>Materials</h5></div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-sm-5 m-b-xs"><b>Material Breakdown</b></div>
                <div class="col-sm-4 m-b-xs"></div>
                <div class="col-sm-3">Number of Materials assigned to this WGU</div>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <td style="border-top: 0 solid #e7eaec;">
                      <p>Appliance & Equipment</p>
                    </td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="Weight or Volume"></td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="% of Total"></td>
                    <td style="border-top: 0 solid #e7eaec;"><select name="account" class="form-control m-b">
                      <option>Recycled</option>
                      <option>Reused</option>
                      <option>Disposed</option>
                    </td>
                  </tr>

                  <tr>
                    <td style="border-top: 0 solid #e7eaec;">
                      <p>Asphalt</p>
                    </td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="Weight or Volume"></td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="% of Total"></td>
                    <td style="border-top: 0 solid #e7eaec;"><select name="account" class="form-control m-b">
                      <option>Recycled</option>
                      <option>Reused</option>
                      <option>Disposed</option>
                    </td>
                  </tr>

                  <tr>
                    <td style="border-top: 0 solid #e7eaec;">
                      <p>Bottles & Cans</p>
                    </td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="Weight or Volume"></td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="% of Total"></td>
                    <td style="border-top: 0 solid #e7eaec;"><select name="account" class="form-control m-b">
                      <option>Recycled</option>
                      <option>Reused</option>
                      <option>Disposed</option>
                    </td>
                  </tr>

                  <tr>
                    <td style="border-top: 0 solid #e7eaec;">
                      <p>Bricks, Masonry & Stone Products </p>
                    </td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="Weight or Volume"></td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="% of Total"></td>
                    <td style="border-top: 0 solid #e7eaec;"><select name="account" class="form-control m-b">
                      <option>Recycled</option>
                      <option>Reused</option>
                      <option>Disposed</option>
                    </td>
                  </tr>

                  <tr>
                    <td style="border-top: 0 solid #e7eaec;">
                      <p>Carpet & Padding/Foam </p>
                    </td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="Weight or Volume"></td>
                    <td style="border-top: 0 solid #e7eaec;"><input type="password" class="form-control" placeholder="% of Total"></td>
                    <td style="border-top: 0 solid #e7eaec;"><select name="account" class="form-control m-b">
                      <option>Recycled</option>
                      <option>Reused</option>
                      <option>Disposed</option>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <button class="btn btn-primary" type="button">Add Another Material</button>
              <button class="btn btn-primary" type="button">Upload Ticket</button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>