<ul class = "wgu_list_dropdown">
  <li>
    <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal_add_data"
       title="Add Data">Add Data</a>
  </li>
  <li>
    <a href="#"  role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal_wgu_settings"
       title="Settings">Settings</a>
  </li>
  <li>
    <a href="#">Reports</a>
  </li>
  <li>
    <a href="#">Share and Connect</a>
  </li>
</ul>


<style>
    .wgu_list_dropdown{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .wgu_list_dropdown > li > a {
        border-radius: 3px;
        color: inherit;
        line-height: 25px;
        margin: 4px;
        text-align: left;
        font-weight: normal;
        display: block;
        padding: 3px 20px;
        clear: both;
    }
    .wgu_list_dropdown > li > a:hover {
        color: #000;
        background-color: #eeeeee;
    }
    .popover-content {
        padding: 9px 2px;
    }
</style>