<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Dashboard</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row" id="sortable-view">
    <div class="col-lg-4">
      <div class="ibox ">
        <div class="ibox-title">
          <h5><i class="fa fa-tint" style="font-weight: 400"></i> Liquid Waste</h5>

          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="panel-body">




            <ul class="list-percentages row">
              <li class="col-xs-4">
                <p class="text-ellipsis">Total</p>
                <p class="text-lg"><strong>301.0</strong></p>
              </li>
              <li class="col-xs-4">
                <p class="text-ellipsis">Recycled</p>
                <p class="text-lg"><strong>0.0</strong></p>
              </li>
              <li class="col-xs-4">
                <p class="text-ellipsis">Disposed</p>
                <p class="text-lg"><strong>0.0</strong></p>
              </li>
            </ul><!--/list-percentages-->
            <p class="helper-block">
            </p><div class="progress progress-xs progress-flat progress-inverse-inverse">
            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
              <span class="sr-only">60% Complete (inverse)</span>
            </div>
          </div>
            <p></p><p class="text-ellipsis"><i class="fa fa-caret-up"></i> 0 &nbsp;&nbsp; +0<sup>%</sup> <small>Looks Good!, up from last month</small></p>
            <!--/help-block-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h5><i class="fa fa-bars" style="font-weight: 400"></i> Solid Waste</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">



          <div class="panel-body">




            <ul class="list-percentages row">
              <li class="col-xs-4">
                <p class="text-ellipsis">Total</p>
                <p class="text-lg"><strong>1300.0</strong></p>
              </li>
              <li class="col-xs-4">
                <p class="text-ellipsis">Recycled</p>
                <p class="text-lg"><strong>1100.0</strong></p>
              </li>
              <li class="col-xs-4">
                <p class="text-ellipsis">Disposed</p>
                <p class="text-lg"><strong>0.0</strong></p>
              </li>
            </ul><!--/list-percentages-->
            <p class="helper-block">
            </p><div class="progress progress-xs progress-flat progress-inverse-inverse">
            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar">
              <span class="sr-only">60% Complete (inverse)</span>
            </div>
          </div>
            <p></p><p class="text-ellipsis"><i class="fa fa-caret-up"></i> 0 &nbsp;&nbsp; +0<sup>%</sup> <small>Looks Good!, up from last month</small></p>
            <!--/help-block-->
          </div>



        </div>
      </div></div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h5><i class="fa fa-usd" style="font-weight: 400"></i> Expenses</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div class="panel-body">




            <ul class="list-percentages row">
              <li class="col-xs-4">
                <p class="text-ellipsis">Total</p>
                <p class="text-lg"><strong>301.0</strong></p>
              </li>
              <li class="col-xs-4">
                <p class="text-ellipsis">Recycled</p>
                <p class="text-lg"><strong>0.0</strong></p>
              </li>
              <li class="col-xs-4">
                <p class="text-ellipsis">Disposed</p>
                <p class="text-lg"><strong>0.0</strong></p>
              </li>
            </ul><!--/list-percentages-->
            <p class="helper-block">
            </p><div class="progress progress-xs progress-flat progress-inverse-inverse">
            <div style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
              <span class="sr-only">60% Complete (inverse)</span>
            </div>
          </div>
            <p></p><p class="text-ellipsis"><i class="fa fa-caret-up"></i> 0 &nbsp;&nbsp; +0<sup>%</sup> <small>Looks Good!, up from last month</small></p>
            <!--/help-block-->
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row" id="sortable-view">
    <div class="col-lg-8">
      <div class="ibox ">
        <div class="ibox-title">
          <h5><i class="fa fa-map-marker" style="font-weight: 400"></i> Waste Generating Units</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>

        </div>
        <div class="ibox-content">

          <p>
            With google maps <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions">API</a> You can easy customize your map.
          </p>
          <div class="google-map" id="map1"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-title">
          <h5><i class="fa fa-spinner" style="font-weight: 400"></i> Activity Overview</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <p>

          <div>
            <div>
              <h5>Units Tracked</h5>
              <small class="pull-right">56,576</small>
            </div>
            <div class="progress progress-xs progress-flat progress-inverse-inverse">
              <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">60% Complete (inverse)</span>
              </div>
            </div>

            <div>
              <h5>Reporting</h5>
              <small class="pull-right">20,000</small>
            </div>
            <div class="progress progress-xs progress-flat progress-inverse-inverse">
              <div style="width: 22%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar">
                <span class="sr-only">22% Complete (inverse)</span>
              </div>
            </div>
            <div>
              <h5>Not Reporting</h5>
              <small class="pull-right">36,576</small>
            </div>
            <div class="progress progress-xs progress-flat progress-inverse-inverse">
              <div style="width: 38%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
                <span class="sr-only">38% Complete (inverse)</span>
              </div>
            </div>
            <div>
              <h5>Money Back</h5>
              <small class="pull-right">$200</small>
            </div>
            <div class="progress progress-xs progress-flat progress-inverse-inverse">
              <div style="width: 15%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar">
                <span class="sr-only">15% Complete (inverse)</span>
              </div>
            </div>
            <div>
              <h5>Disposal Costs</h5>
              <small class="pull-right">$20</small>
            </div>
            <div class="progress progress-xs progress-flat progress-inverse-inverse">
              <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
                <span class="sr-only">60% Complete (inverse)</span>
              </div>
            </div>

          </div>
          </p>
        </div>
      </div></div>


  </div>
</div>


<%= javascript_include_tag "jquery-ui/jquery-ui-1.10.4.min.js" %>
<% content_for :javascript do %>

    <script type="text/javascript">


        $(function() {

            WinMove();

            // Dragable panels
            function WinMove() {
                var element = "[class*=col]";
                var handle = ".ibox-title";
                var connect = "[class*=col]";
                $(element).sortable(
                        {
                            handle: handle,
                            connectWith: connect,
                            tolerance: 'pointer',
                            forcePlaceholderSize: true,
                            opacity: 0.8,
                        })
                        .disableSelection();
            };

        });

    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>

    <script type="text/javascript">
        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Options for Google map
            // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions1 = {
                zoom: 11,
                center: new google.maps.LatLng(40.6700, -73.9400),
                // Style for Google Maps
                styles: [{ "featureType": "water", "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }] }, { "featureType": "road", "elementType": "geometry.fill", "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }] }, { "featureType": "road", "elementType": "geometry.stroke", "stylers": [{ "color": "#808080" }, { "lightness": 54 }] }, { "featureType": "landscape.man_made", "elementType": "geometry.fill", "stylers": [{ "color": "#ece2d9" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "color": "#ccdca1" }] }, { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] }, { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] }, { "featureType": "poi", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }] }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] }, { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }]
            };

            var mapOptions2 = {
                zoom: 11,
                center: new google.maps.LatLng(40.6700, -73.9400),
                // Style for Google Maps
                styles: [{ "featureType": "all", "elementType": "all", "stylers": [{ "invert_lightness": true }, { "saturation": 10 }, { "lightness": 30 }, { "gamma": 0.5 }, { "hue": "#435158" }] }]
            };

            var mapOptions3 = {
                center: new google.maps.LatLng(36.964645, -122.01523),
                zoom: 18,
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                // Style for Google Maps
                styles: [{ "featureType": "road", "elementType": "geometry", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#fffffa" }] }, { "featureType": "water", "stylers": [{ "lightness": 50 }] }, { "featureType": "road", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry", "stylers": [{ "lightness": 40 }] }]
            };

            var mapOptions4 = {
                zoom: 11,
                center: new google.maps.LatLng(40.6700, -73.9400),
                // Style for Google Maps
                styles: [{ "stylers": [{ "hue": "#18a689" }, { "visibility": "on" }, { "invert_lightness": true }, { "saturation": 40 }, { "lightness": 10 }] }]
            };

            var fenway = new google.maps.LatLng(42.345573, -71.098326);
            var mapOptions5 = {
                zoom: 14,
                center: fenway,
                // Style for Google Maps
                styles: [{ featureType: "landscape", stylers: [{ saturation: -100 }, { lightness: 65 }, { visibility: "on" }] }, { featureType: "poi", stylers: [{ saturation: -100 }, { lightness: 51 }, { visibility: "simplified" }] }, { featureType: "road.highway", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "road.arterial", stylers: [{ saturation: -100 }, { lightness: 30 }, { visibility: "on" }] }, { featureType: "road.local", stylers: [{ saturation: -100 }, { lightness: 40 }, { visibility: "on" }] }, { featureType: "transit", stylers: [{ saturation: -100 }, { visibility: "simplified" }] }, { featureType: "administrative.province", stylers: [{ visibility: "off" }]/**/ }, { featureType: "administrative.locality", stylers: [{ visibility: "off" }] }, { featureType: "administrative.neighborhood", stylers: [{ visibility: "on" }]/**/ }, { featureType: "water", elementType: "labels", stylers: [{ visibility: "on" }, { lightness: -25 }, { saturation: -100 }] }, { featureType: "water", elementType: "geometry", stylers: [{ hue: "#ffff00" }, { lightness: -25 }, { saturation: -97 }] }]
            };

            var panoramaOptions = {
                position: fenway,
                pov: {
                    heading: 10,
                    pitch: 10
                }
            };
            var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);

            // Get all html elements for map
            var mapElement1 = document.getElementById('map1');
            var mapElement2 = document.getElementById('map2');
            var mapElement3 = document.getElementById('map3');
            var mapElement4 = document.getElementById('map4');

            // Create the Google Map using elements
            var map1 = new google.maps.Map(mapElement1, mapOptions1);
            var map2 = new google.maps.Map(mapElement2, mapOptions2);
            var map3 = new google.maps.Map(mapElement3, mapOptions3);
            var map4 = new google.maps.Map(mapElement4, mapOptions4);
        }
    </script>
<% end %>
<style type="text/css">

    .list-percentages li{
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        list-style: outside none none;
        position: relative;
        text-align: center;
    }
    .list-percentages li:first-child{
       border-left: 0 none;
       margin: 0px 10px 0px -30px;
    }

    .col-xs-4{
        min-width: 33.33%;
        float: left;
    }
</style>