<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>This is main title</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">This is</a>
      </li>
      <li class="active">
        <strong>breadcrumbs</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <a href="" class="btn btn-primary">This is action area</a>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Usage</h5>
          <h2>65%</h2>
          <div class="progress progress-mini">
            <div style="width: 68%;" class="progress-bar"></div>
          </div>

          <div class="m-t-sm small">Server down since 4:32 pm.</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Usage</h5>
          <h2>50%</h2>
          <div class="progress progress-mini">
            <div style="width: 78%;" class="progress-bar"></div>
          </div>

          <div class="m-t-sm small">Server down since 4:32 pm.</div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox">
        <div class="ibox-content">
          <h5>Usage</h5>
          <h2>14%</h2>
          <div class="progress progress-mini">
            <div style="width: 38%;" class="progress-bar progress-bar-danger"></div>
          </div>

          <div class="m-t-sm small">Server down since 4:32 pm.</div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="col-md-6">
  <div class="ibox-content">
    <div>
      <div>
        <span>Memory</span>
        <small class="pull-right">10/200 GB</small>
      </div>
      <div class="progress progress-small">
        <div style="width: 60%;" class="progress-bar"></div>
      </div>

      <div>
        <span>Bandwidth</span>
        <small class="pull-right">20 GB</small>
      </div>
      <div class="progress progress-small">
        <div style="width: 50%;" class="progress-bar"></div>
      </div>

      <div>
        <span>Activity</span>
        <small class="pull-right">73%</small>
      </div>
      <div class="progress progress-small">
        <div style="width: 40%;" class="progress-bar"></div>
      </div>

      <div>
        <span>FTP</span>
        <small class="pull-right">400 GB</small>
      </div>
      <div class="progress progress-small">
        <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
      </div>
    </div>
  </div>
</div>
