<div class="modal-header">
  <h4 class="modal-title">Facility Listing</h4>
  <small class="font-bold"></small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Facility List</h5></div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-5 m-b-xs" style="width:20%"></div>
            <div class="col-sm-4 m-b-xs" style="width:20%"></div>
            <div style="width:60%" class="col-sm-3">
              <div class="input-group">
                <span style="float: left; margin-left: 51px; margin-top: 4px;">Facilities By Material</span>
                <select style="width: 33%; margin-left: 13px;" class="input-sm form-control input-s-sm inline">
                  <option value="0">Mixed C &amp; D</option>
                  <option value="1">Appliances &amp; Equipment</option>
                  <option value="2">Asphalt</option>
                </select>
                <input type="text" style="width: 33%; margin-left: 13px;" placeholder="Search" class="input-sm form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Name </th>
                <th>Website </th>
                <th>Materials</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  <input type="checkbox" checked>
                  Blue Line Transfer ( map )
                  500 East Jamie Court
                  South San Francisco, CA 94080
                  415-577-6314
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  <input type="checkbox" checked>
                  Davis Street Transfer Station ( map )
                  2615 Davis Street
                  San Leandro, CA 94577
                  510-638-2303
                </td>
                <td>www.google.com</td>
                <td>25 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  <input type="checkbox" checked>
                  Diversion Center ( map )
                  121 South Rice Avenue
                  San Francisco, CA 94107
                  888-888-3988
                </td>
                <td>www.google.com</td>
                <td>35 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  <input type="checkbox" checked>
                  Habitat For Humanity ( map )
                  2619 Broadway
                  Oakland, CA 94612
                  510-251-6304
                </td>
                <td>www.google.com</td>
                <td>35 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  <input type="checkbox" checked>
                  Marin Resource Recovery Center ( map )
                  565 Jacoby Street
                  San Rafael, CA 94901
                  415-453-1404
                </td>
                <td>www.google.com</td>
                <td>25 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td>
                  <input type="checkbox" checked>
                  Newby Island Landfill ( map )
                  1601 Dixon Landing Rd.
                  Milpitas, CA 95035
                  408-945-2800
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>

              </tbody>
            </table>
          </div>
          <button class="btn btn-primary" type="button">Accept Selected Facilities</button>
        </div>
      </div>
    </div>
  </div>
</div>