<div class="modal-header">
  <h4 class="modal-title">Facility Listing</h4>
  <small class="font-bold"></small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"><h5>Facility List</h5></div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-5 m-b-xs" style="width:20%"></div>
            <div class="col-sm-4 m-b-xs" style="width:20%"></div>
            <div style="width:60%" class="col-sm-3">
              <div class="input-group" style="margin-left:10px;">
                <span style="float: left; margin-left: 51px; margin-top: 4px;">Facilities By Material</span>
                <select style="width: 33%; margin-left: 13px;" class="input-sm form-control input-s-sm inline">
                  <option value="0">Mixed C &amp; D</option>
                  <option value="1">Appliances &amp; Equipment</option>
                  <option value="2">Asphalt</option>
                </select>
                <input type="text" style="width: 33%; margin-left: 13px;" placeholder="Search" class="input-sm form-control">
                <span class="input-group-btn"  style="float: left;">
                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Name </th>
                <th>Website </th>
                <th>Materials</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="icheckbox_square-green checked" style="position: relative;">
                    <input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;">
                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                  </div>
                </td>
                <td><input type="checkbox" checked></td>
                <td>
                  Blue Line Transfer ( map )<br>
                  500 East Jamie Court<br>
                  South San Francisco, CA 94080<br>
                  415-577-6314
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Davis Street Transfer Station ( map )<br>
                  2615 Davis Street<br>
                  San Leandro, CA 94577<br>
                  510-638-2303
                </td>
                <td>www.google.com</td>
                <td>25 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Diversion Center ( map )<br>
                  121 South Rice Avenue<br>
                  San Francisco, CA 94107<br>
                  888-888-3988
                </td>
                <td>www.google.com</td>
                <td>35 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Habitat For Humanity ( map )<br>
                  2619 Broadway<br>
                  Oakland, CA 94612<br>
                  510-251-6304
                </td>
                <td>www.google.com</td>
                <td>35 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Marin Resource Recovery Center ( map )<br>
                  565 Jacoby Street<br>
                  San Rafael, CA 94901<br>
                  415-453-1404
                </td>
                <td>www.google.com</td>
                <td>25 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Newby Island Landfill ( map )<br>
                  1601 Dixon Landing Rd.<br>
                  Milpitas, CA 95035<br>
                  408-945-2800
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  OP Trucking CDI Operations<br>
                  1901 Galvez<br>
                  San Francisco, CA 94124 <br>
                  415-806-4380
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Premier Recycle ( map )<br>
                  260 Leo Avenue <br>
                  San Jose, CA 95112 <br>
                  408-297-7910
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Recology San Francisco ( map )<br>
                  501 Tunnel Avenue<br>
                  San Francisco, CA 94134 <br>
                  415-330-1400
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Recology San Francisco ( map )<br>
                  501 Tunnel Avenue<br>
                  San Francisco, CA 94111 <br>
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  SRDC Recycling- Redwood City ( map )<br>
                  475 Seaport Blvd <br>
                  Redwood City, CA 94063 <br>
                  650-298-9228
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Windsor Materials Recovery Facility ( map )<br>
                  590 Caletti Ave <br>
                  Windsor, CA 95492 <br>
                  877-698-8473
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Zanker Material Processing Facility ( map )<br>
                  705 Los Esteros Rd <br>
                  San Jose, CA 95134  <br>
                  408-263-2384
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>
              <tr>
                <td><div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" name="input[]" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div></td>
                <td><input type="checkbox" checked></td>
                <td>
                  Zanker Road Landfill ( map )<br>
                  675 Los Esteros Rd.  <br>
                  San Jose, CA 95134 <br>
                  408-263-2384
                </td>
                <td>www.google.com</td>
                <td>15 material(s)</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div style="float: right;margin-bottom: 10px;margin-top: 33px;width: 60%;">
            <button class="btn btn-primary" type="button">Accept Selected Facilities</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>