<div class="modal-header">
  <h4 class="modal-title">News, Information and Helpful Tips</h4>
  <small class="font-bold">
    This function allows you to add a message or alert to the top of the contractors home page as a headline to
    communicate news,information or helpful tips to the contractor as they are creating their plan.Activate this
    message by checking the "show tooltip when adding new project" check box.
  </small>
</div>

<div class="modal-body" style="height:70vh; overflow:auto;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Adding New Projects</h5>
          </div>
            <div class="ibox-content">
              <form class="form-horizontal" method="get">
                <div class="form-group">
                    <p style="margin-left: 76px;">
                      <input type="checkbox" value="" style="margin-right: 5px;">show tooltip when adding new project
                    </p>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Attention Text</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="New Hours"></div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                      <textarea rows="2" class="form-control">The San Franscisco Building and Planning Department will be closed every other Friday,and Plans /Permits will no longer be processed on this day. Operations will continue as normal during all other days/hours.</textarea>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10" style="float:right;">
                      <a style="float:right;" href="#"> Preview on Page</a>
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Preview</label>
                      <div class="col-sm-10">
                        <textarea rows="3" class="form-control" readonly>New Hour
The San Franscisco Building and Planning Department will be closed every other Friday,and Plans /Permits will no longer be processed on this day. Operations will continue as normal during all other days/hours.</textarea>
                      </div>
                    </div>
               </form>
            </div>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Choosing Project Materials</h5>
          </div>
            <div class="ibox-content">
              <form class="form-horizontal" method="get">
                <div class="form-group">
                    <p style="margin-left: 76px;">
                      <input type="checkbox" value="" style="margin-right: 5px;">show tooltip when adding new project
                    </p>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Attention Text</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="New Hours"></div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                      <textarea rows="2" class="form-control">The San Franscisco Building and Planning Department will be closed every other Friday,and Plans /Permits will no longer be processed on this day. Operations will continue as normal during all other days/hours.</textarea>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10" style="float:right;">
                      <a style="float:right;" href="#"> Preview on Page</a>
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Preview</label>
                      <div class="col-sm-10">
                        <textarea rows="3" class="form-control" readonly>New Hour
The San Franscisco Building and Planning Department will be closed every other Friday,and Plans /Permits will no longer be processed on this day. Operations will continue as normal during all other days/hours.</textarea>
                      </div>
                    </div>
               </form>
            </div>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Selecting Recycling Facilities</h5>
          </div>
            <div class="ibox-content">
              <form class="form-horizontal" method="get">
                <div class="form-group">
                    <p style="margin-left: 76px;">
                      <input type="checkbox" value="" style="margin-right: 5px;">show tooltip when adding new project
                    </p>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Attention Text</label>
                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="New Hours"></div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-10">
                      <textarea rows="2" class="form-control">The San Franscisco Building and Planning Department will be closed every other Friday,and Plans /Permits will no longer be processed on this day. Operations will continue as normal during all other days/hours.</textarea>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10" style="float:right;">
                      <a style="float:right;" href="#"> Preview on Page</a>
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Preview</label>
                      <div class="col-sm-10">
                        <textarea rows="3" class="form-control" readonly>New Hour
The San Franscisco Building and Planning Department will be closed every other Friday,and Plans /Permits will no longer be processed on this day. Operations will continue as normal during all other days/hours.</textarea>
                      </div>
                    </div>
               </form>
            </div>
       </div>
    </div>
  </div>
  <div style="float: right;margin-bottom: 10px;margin-top: 33px;width: 60%;">
    <button type="button" class="btn btn-primary">Update Information</button>
  </div>
</div>
