<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
       <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome! </span>
            </li>

              <li>
                <a href="#"  data-toggle="modal" data-target="#myModal5" title="Suggestions">
                  <i class="fa fa-lightbulb-o"></i>
                </a>

              </li>

              <li>

                <a href="#"  data-toggle="modal" data-target="#myModal6" title="Reports">
                  <i class="fa fa-bug"></i>
                </a>
              </li>




              <li>
                <a href="javascript:void(0);" data-remote="true" title="Portal">
                  <i class="fa fa-rocket"></i>
                </a>
              </li>





            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


            <li>

              <%= link_to '/users/sign_out', :method => :delete do %>
                 <i class="fa fa-sign-out"></i> Log out
              <% end %>



        </li>

            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
    </ul>


      <div class="modal inmodal" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style = "width:auto;margin-top: 9px;">
          <div class="modal-content">
            <div class="modal-header" style = "background-color: #676a6c;max-height: 30px;">
             <span>
                <span style = "margin-top:-10px;">
                   <i class = "fa fa-repeat" style = "color: white;float:left;margin-top:-21px;margin-left:-6px;"></i>
                   <span style="top:13px;float:left;margin-top: -25px;margin-left: 9px;border-left: 2px solid #19aa8d;">|</span>
                   <span style = "color:white;font-weight:bold;float:left;margin-left:27px;margin-top:-25px;">Suggestions - WGU 8766098095</span>
                 </span>
                 <span style="top:13px;float:right;  margin-top: -28px;
                         margin-right: 5px;border-left: 2px solid #19aa8d;">|</span>
               <i class = "fa fa-times" data-dismiss="modal" style = "float:right;color: white;cursor: pointer;margin-top:-24px;margin-right: -10px;"></i>
             </span>


            </div>

            <div class="modal-body">
              <%= form_for(User.new, url: { controller: "dashboards" ,action: "tracking" }) do |f| %>




                  <div class="form-group">
                    <label>Username *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class="form-group">
                    <label>email *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>


                  <div class="form-group">
                    <label>Url *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class = "form-group">
                    <label>Comment</label>
                    <textarea  class="form-control"></textarea>
                  </div>


                  <div>

                  </div>

              <%end%>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal inmodal" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style = "width:auto;  margin-top: 9px;">
          <div class="modal-content">

            <div class="modal-header" style = "background-color: #676a6c;max-height: 30px;">
             <span>
                <span style = "margin-top:-10px;">
                   <i class = "fa fa-repeat" style = "color: white;float:left;margin-top:-21px;margin-left:-6px;"></i>
                  <span style="top:13px;float:left;margin-top: -25px;margin-left: 9px;border-left: 2px solid #19aa8d;">|</span>
                  <span style = "color:white;font-weight:bold;float:left;margin-left:27px;margin-top:-25px;">Report Bug - WGU 8766098095</span>
                 </span>
               <span style="top:13px;float:right;  margin-top: -28px;
                       margin-right: 5px;border-left: 2px solid #19aa8d;">|</span>
               <i class = "fa fa-times" data-dismiss="modal" style = "float:right;color: white;cursor: pointer;margin-top:-24px;margin-right: -10px;"></i>
             </span>


            </div>

            <div class="modal-body">
              <%= form_for(User.new, url: { controller: "dashboards" ,action: "tracking" }) do |f| %>




                  <div class="form-group">
                    <label>Username *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class="form-group">
                    <label>email *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>


                  <div class="form-group">
                    <label>Url*</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>


                  <div class = "form-group">
                    <label>Comment</label>
                    <textarea  class="form-control"></textarea>
                  </div>


              <%end%>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
</nav>
</div>