<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
       <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome! </span>
            </li>

              <li>
                <a href="#"  data-toggle="modal" data-target="#myModal5" title="Suggestions">
                  <i class="fa fa-lightbulb-o"></i>
                </a>

              </li>

              <li>

                <a href="#"  data-toggle="modal" data-target="#myModal6" title="Report a Bug">
                  <i class="fa fa-bug"></i>
                </a>
              </li>




              <li>
                <a href="javascript:void(0);" data-remote="true" title="Portal">
                  <i class="fa fa-rocket"></i>
                </a>
              </li>





            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


            <li>

              <%= link_to '/users/sign_out', :method => :delete do %>
                 <i class="fa fa-sign-out"></i> Log out
              <% end %>



        </li>

            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
    </ul>

      <div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h5 style="font-size:50px;"><i class="fa fa-lightbulb-o"></i></h5>
              <h4 class="modal-title">Suggestions</h4>
              <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
              <%= form_for(User.new, url: { controller: "dashboards" ,action: "tracking" }) do |f| %>



                  <div class="form-group">
                    <label>User Name *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class="form-group">
                    <label>Email *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>


                  <div class="form-group">
                    <label>Url *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class = "form-group">
                    <label>Comments</label>
                    <textarea  class="form-control"></textarea>
                  </div>


                  <div>

                  </div>

              <%end%>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h5 style="font-size:50px;"><i class="fa fa-bug"></i></h5>
              <h4 class="modal-title">Report a Bug</h4>
              <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
            </div>
            <div class="modal-body">
              <%= form_for(User.new, url: { controller: "dashboards" ,action: "tracking" }) do |f| %>



                  <div class="form-group">
                    <label>User Name *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class="form-group">
                    <label>Email *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>


                  <div class="form-group">
                    <label>Url *</label>
                    <input id="userName" name="userName" type="text" class="form-control required">
                  </div>

                  <div class = "form-group">
                    <label>Comments</label>
                    <textarea  class="form-control"></textarea>
                  </div>


                  <div>

                  </div>

              <%end%>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>




</nav>
</div>